.input {
  flex: 1;
  max-width: 240px;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
}

.input:hover,
.input:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 2px #0d6efd;
}
